
#screen{
    text-align: center;
    border: 3px solid black;
}

#display_panel{
    margin:20px;
    width: 50%;
    display: inline-block;
}

#control_panel{
    width: 40%;
    display: inline-block;
}

.warning{
    color: red;
    display: none;
}